.head-search-main-wrap {
  height: 40px;
  // background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-logo {
  // background-color: orange;
  background-image: image-url('velg_logo.png');
  background-size: 90%;
  background-repeat: no-repeat;
  // vertical-align: middle;
  width: 100px;
  height: 50px;
  margin-right: 4px;

}

.search-cont {
  width: 696px;
  height: 40px;
  // background-color: pink;
}
.review-header-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  width: 650px;
}

.header-buttons {
  width: 148px;
  height: 40px;
  // background-color: black;
  margin-left: 20px;
}

.content-container {
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  // background-color: blue;
}

.search-wrap {
  display: flex;
  flex-direction: row;
}
