.little-page-header-main {
  background: transparent;
  width: 960px;
  height: 34px;
  position: absolute;
  top: 30px;
}

.little-header-container {
  width: 100%;
  height: 64px;
}

.little-master {
  background-color: gray;;
  height: 550px;
}

.little-img-container {
  // background-color: blue;
  background-image: image-url('main.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  background-size: 1700px;
  // opacity:  0.little-8;
  height: 550px;
  display: flex;
  justify-content: center;
  // z-index: -5;

}

// .little-img-container::after {
//   content: "";
//   opacity: 0.little-5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

.little-main-holder {
  width: 960px;
  height: 100%;
  padding-top: 80px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: center; */
}


.little-logo {
  width: 960px;
  height: 80px;
  // height: 100%;
  background-color: transparent;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.little-search {
  width: 704px;
  height: 63px;
  /* background-color: black; */
  display: flex;
}
.little-items {
  width: 960px;
  height: 20px;
  padding-bottom: 168px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
}

.little-items div{
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
}

.little-left-search-container {
  background-color: transparent;
  height: 63px;
  width: 410px;
  display: flex;
  flex-direction: row;
  border-radius: 0 4px 4px 4px;
}

.little-right-search-container {
  background-color: transparent;
  height: 63px;
  width: 416px;
  display: flex;
  flex-direction: row;
}
.little-right-search-logo {
  background: transparent;
  height: 63px;
  width: 68px;
}

#little-left-search-input {
  width: 100%;
  display: inline-block;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  margin-top: 9px;
  text-indent: 0px;
  padding-left: 0px;
  border-right: groove;
  border-color: #e6e6e6;
  height: 20px;
  padding-bottom: 4px;

}
#little-right-search-input {
  width: 100%;
  display: inline-block;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  text-indent: 0px;
  padding-left: 0px;
  // border-right: groove;
  // border-color: #e6e6e6;
  height: 18px;
  padding-bottom: 9px;
}

.little-div-input{
  width: 100%;
  height: 36px;
  margin-bottom: 18px;
  background-color: white;
  margin-top: 1px;
}

.little-div-label-find{
  width: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  height: 28px;
  margin-bottom: 18px;
  padding-left: 10px;
  background-color: white;
  padding-top: 8px;
  border-radius: 4px 0px 0px 4px;
  margin-top: 1px;
}
.little-div-label-near{
  height: 28px;
  margin-bottom: 18px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;

  width: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  height: 28px;
  margin-bottom: 18px;
  padding-left: 10px;
  background-color: white;
  padding-top: 8px;
  margin-top: 1px;
}

.little-logo-glass {
  background-color: #d32323;
  width: 100%;
  height: 45px;
  border-style: none;
  padding: 0;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
}

.little-logo-background {
  height: 160px;
  width: 250px;
  // width: 100%;
  // height: 100%;
  // padding-top: 50px;
  background-image: image-url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.little-menu-container {
  background-color: transparent;
  height: 37px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: baseline;
}

.little-menu-left {
  background-color: transparent;
  height: 37px;
  width: 750px;
  display: flex;
  flex-direction: row;
}
.little-menu-right {
  background-color: transparent;
  height: 37px;
  // width: 210px; total ramaining size
  width: 187px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.little-menu-text-1 button{
  height: 37px;
  width: 123px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.little-menu-text-1 button:hover {
  border-bottom: 2px solid white;
}

.little-menu-text-2 button{
  height: 37px;
  width: 69px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}

.little-menu-text-2 button:hover {
  border-bottom: 2px solid white;
}

.little-menu-text-3 button{
  height: 37px;
  width: 51px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}

.little-menu-text-3 button:hover {
  border-bottom: 2px solid white;
}

.little-log-in-header-div button{
  height: 37px;
  width: 65px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.little-log-in-header-div:hover {
  border-bottom: 2px solid white;
}
.little-sign-up-header-div button{
  height: 37px;
  width: 104px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.little-sign-up-header-div button:hover {
  background-color: white;
  color: #999999;
}

.little-comment-header-div{
  height: 30px;
  width: 30px;
}

.little-comment-header-div button{
  height: 31px;
  width: 33px;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
  margin-left: 0px;
}
.little-comment-header-div button:hover {
  background-color: white;
  color: #999999;
}

.little-logo-glass {
  background-color: rgb(189, 31, 31);
  width: 100%;
  font-size: 18px;
  height: 39px;
  font-weight: normal;
  border-style: none;
  padding: 0;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
}
