.page-header-main {
  background: transparent;
  width: 960px;
  height: 34px;
  position: absolute;
  top: 30px;
}

.header-container {
  width: 100%;
  height: 64px;
}

.img-container {
  background-color: blue;
  background-image: image-url('main.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  background-size: 1700px;
  height: 550px;
  display: flex;
  justify-content: center;

}

// .img-container::after {
//   content: "";
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

.main-holder {
  width: 960px;
  height: 100%;
  padding-top: 80px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: center; */
}


.logo {
  width: 960px;
  height: 80px;
  // height: 100%;
  background-color: transparent;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search {
  width: 960px;
  height: 63px;
  /* background-color: black; */
  display: flex;
}
.items {
  width: 960px;
  height: 20px;
  padding-bottom: 168px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
}

.items div{
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
}

.left-search-container {
  background-color: transparent;
  height: 63px;
  width: 480px;
  display: flex;
  flex-direction: row;
  border-radius: 0 4px 4px 4px;
}

.right-search-container {
  background-color: transparent;
  height: 63px;
  width: 416px;
  display: flex;
  flex-direction: row;
}
.right-search-logo {
  background: transparent;
  height: 63px;
  width: 64px;
}

#left-search-input {
    width: 100%;
    display: inline-block;
    background: transparent;
    position: relative;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
    text-indent: 0px;
    padding-left: 6px;
    border-right: groove;
    border-color: #e6e6e6;
    height: 23px;
}
#right-search-input {
  width: 100%;
  height: 33px;
  display: inline-block;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
  text-indent: 0px;
  padding-top: 15px;
  padding-left: 10px;
}

.div-input{
  width: 100%;
  height: 45px;
  margin-bottom: 18px;
  background-color: white;
}

.div-label-find{
  width: 49px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  height: 35px;
  margin-bottom: 18px;
  padding-left: 10px;
  background-color: white;
  padding-top: 10px;
  border-radius: 4px 0px 0px 4px;
}
.div-label-near{
  width: 49px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  height: 35px;
  margin-bottom: 18px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.logo-glass {
  background-color: #d32323;
  width: 100%;
  height: 45px;
  border-style: none;
  padding: 0;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
}

.logo-background {
  height: 160px;
  width: 250px;
  // width: 100%;
  // height: 100%;
  // padding-top: 50px;
  background-image: image-url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-container {
  background-color: transparent;
  height: 37px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: baseline;
}

.menu-left {
  background-color: transparent;
  height: 37px;
  width: 750px;
  display: flex;
  flex-direction: row;
}
.menu-right {
  background-color: transparent;
  height: 37px;
  // width: 210px; total ramaining size
  width: 187px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-text-1 button{
  height: 37px;
  width: 123px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.menu-text-1 button:hover {
  border-bottom: 2px solid white;
}

.menu-text-2 button{
  height: 37px;
  width: 69px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}

.menu-text-2 button:hover {
  border-bottom: 2px solid white;
}

.menu-text-3 button{
  height: 37px;
  width: 51px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}

.menu-text-3 button:hover {
  border-bottom: 2px solid white;
}

.log-in-header-div button{
  height: 37px;
  width: 65px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.log-in-header-div:hover {
  border-bottom: 2px solid white;
}
.sign-up-header-div button{
  height: 37px;
  width: 104px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.sign-up-header-div button:hover {
  background-color: white;
  color: #999999;
}

.comment-header-div{
  height: 30px;
  width: 30px;
}

.comment-header-div button{
  height: 31px;
  width: 33px;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
  margin-left: 0px;
}
.comment-header-div button:hover {
  background-color: white;
  color: #999999;
}
